

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 768px){

 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {}
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) and (max-width: 1200px) {

 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) and (max-width:1200px) {
  
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

 } 

 .btn-info{
     color: #ffffff;
 }

 .comment-green{
     border-color: #60cb4d  ;
    border-style: solid;
    border-width: 3px;
 }